# Python
__pycache__/
*.py[cod]
*.pyo

# Wirtualne środowisko
.venv/
env/

# Dane
data/raw/
data/interim/
data/processed/

# Notebooks checkpointy
.ipynb_checkpoints/

# Logi
*.log

# Konfiguracja lokalna
.env
